name: cawsc
on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  cawsc:
    runs-on: arc-runner-set
    steps:
      - name: CAWSC
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: us-west-2
          role-to-assume: arn:aws:iam::570774169190:role/Configure-aws-credentials-kellertk-Role-1VNIWSPQGBBTG
          role-duration-seconds: 900
          retry-max-attempts: 1
          role-session-name: TestCAWSC
          force-skip-oidc: true
      - name: Whoami
        run: |
          aws sts get-caller-identity
