name: Test Configure AWS Credential
on:
  workflow_dispatch:

jobs:
  cawsc:
    runs-on: self-hosted
    permissions:
      id-token: write
    steps:
      - name: CAWSC
        uses: aws-actions/configure-aws-credentials@v4.1.0
        with:
          aws-region: us-west-2
          role-to-assume: arn:aws:iam::570774169190:role/Configure-aws-credentials-kellertk-Role-1VNIWSPQGBBTG
          role-duration-seconds: 900
          role-session-name: TestCAWSC
      - name: Whoami
        run: |
          aws sts get-caller-identity
